<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../stylesheets/registerStyle.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.2.0/bcrypt.min.js"
			integrity="sha512-BJZhA/ftU3DVJvbBMWZwp7hXc49RJHq0xH81tTgLlG16/OkDq7VbNX6nUnx+QY4bBZkXtJoG0b0qihuia64X0w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<title>Register Page</title>
	</head>
	<body>
		<div class="main">
			<div class="registerBox">
				<div class="registerForm">
					<h1>Hello <%=fName%></h1>
					<button id="logoutButton">Log out</button>
				</div>
			</div>
		</div>
	</body>

	<script src="../javascripts/script.js"></script>
</html>
