<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
			rel="stylesheet"
		/>
		<title>HomePage</title>
	</head>
	<body>
		<div class="main">
			<div class="box">
				<div class="left">
					<div class="imgBox">
						<img src="../images/homePng.png" alt="homePng" />
					</div>
				</div>
				<div class="right">
					<div class="signinData">
						<div class="head">
							<h1>Hello Again!</h1>
							<h5>Welcome back you've been missed!</h5>
						</div>

						<div class="form">
							<input type="email" id="username" placeholder="email/Username" />
							<br />
							<input
								type="password"
								id="loginPassword"
								placeholder="Password"
							/>
						</div>
						<button id="signin">Sign in</button>
						<h3>
							Not a member?<span>
								<a href="register">Register here</a>
							</span>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../javascripts/script.js"></script>
</html>
