<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../stylesheets/registerStyle.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>

		<title>Register Page</title>
	</head>
	<body>
		<div class="main">
			<div class="registerBox">
				<div class="registerForm">
					<h1>Register</h1>

					<div class="form">
						<input type="text" id="fName" placeholder="First name" />
						<input type="text" id="lName" placeholder="Last name" />
						<br />
						<input type="email" id="email" placeholder="Email" />
						<br />
						<input type="password" id="password" placeholder="Password" />
						<input
							type="text"
							id="cnfPassword"
							placeholder="Confirm password"
						/>
					</div>
					<button id="registerButton">Register</button>
					<button id="backToLoginButton">back to log in</button>
				</div>
			</div>
		</div>
	</body>
	<script src="../javascripts/script.js"></script>
</html>
